
body {
    font-family: Trajan Pro, serif;
    background-color: #ababab; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(16, 16, 16);
    width: 100%;
    max-width: 500px;

.form-group {
    margin-bottom: 24px;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #121212;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 14px;
}


.radio-group {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.radio-group input {
    margin-right: 10px;
}

.radio-label {
    font-weight: normal; 
    display: inline;
    margin-bottom: 0;
}


.submit-btn {
    width: 100%;
    background-color: #1a563074; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #009e39; 
}
