body {
    font-family: 'Gallo Grotesque', italic, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ebc7c7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 300px;
    height: 500px;
}

.form-group {
    margin-bottom: 60px;
}